.swiper2 {
  max-width: 1304px;
  width: 100%;
  height: 286px;
  border-radius: 15px;
  background-color: blue;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  z-index: 1;
}


.swiper-slide2 {
  text-align: center;
  font-size: 18px;
  height: 246px !important;
  width: 182px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


.swiper-slide2 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pic-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
}