/* Banner */
.banner-pic {
  object-fit: cover;
  height: 68px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Input & Search */
.logo-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 68px;
}

.logo {
  position: absolute;
  right: 15px;
}

.input {
  position: absolute;
  right: 150px;
  width: 600px;
  height: 44px;
  font-size: 15px;
  border-radius: 8px;
  background-color: #f1f2f4;
  border: none;
  color: #767790;
  padding-right: 55px;
}

.input-mobile {
  height: 44px;
  font-size: 11px;
  color: #767790;
  border-radius: 8px;
  background-color: #f1f2f4;
  border: none;
  padding-right: 40px;
  width: 100%;
  margin-left: 16px;
}

.head-left {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 44px;
  margin-left: 12px;
  left: 12px;
}

.smalls-pic {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.smalls-pics {
  width: 52px;
  height: 52px;
  object-fit: cover;
  border-radius: 8px;
}

.img-6 {
  width: 52px;
  height: 52px;
  object-fit: cover;
}

/* .four-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
} */

.wrap-pic {
  width: 100%;
  height: 100%;
  max-width: 160px;
  max-height: 160px;
  object-fit: cover;
}

.twopic {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  height: 100%;
  max-height: 360px;
}

.logo-jplus {
  width: 128px;
  height: 32px;
  object-fit: contain;
}

.img-purple {
  width: 116px;
  height: 116px;
  object-fit: contain;
}

.pic-44 {
  width: 100%;
  object-fit: cover !important;
  height: 100%;
}

.digi-club {
  display: inline-block;
  width: 119px;
  height: 33px;
  object-fit: contain;
}

.charkh {
  width: 100%;
  height: 100%;
  max-width: 122px;
  max-height: 62px;
  object-fit: cover;
}

.pics-up-footer {
  width: 100%;
  height: 100%;
  max-height: 485px;
  object-fit: cover;
  overflow: hidden;
}

.footer {
  width: 100%;
  height: 1158.2px;
  max-width: 1500px;
  margin: 48px auto;
  padding-top: 32px;
  border-top: 1px solid #f1f2f4;
}

.logo-fa {
  width: 113.33px;
  height: 30px;
  object-fit: contain;
}

.logo-r {
  width: 44px;
  height: 44px;
  object-fit: cover;
}

.pic-4ft {
  width: 142px;
  height: 44px;
  object-fit: contain;
  border-radius: 4px;
  margin: 8px;
}

.senoghte {
  width: 44px;
  height: 44px;
  object-fit: cover;
  border-radius: 4px;
}

.rezvan {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

.offer-pics {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.swiper3-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.h1-product {
  padding: 12px 0px;
  word-break: break-word;
  display: block;
}

.g-product-img {
  object-fit: contain;
  padding: 15px 15px;
}

.input-footer {
  height: 48px;
  width: 100%;
  padding: 0px 8px;
  border-radius: 8px;
  border: none;
  background-color: #f1f2f4;
  caret-color: #ef4056;
  font-size: 17px;
}

.swiper-product {
  font-size: 14px;
  color: #767790;
}


.red {
  color: #ef394e;
}

.black {
  color: black;
}