/* Banner */
.header-pic {
  object-fit: cover;
  height: 68px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Input & Search */
.logo-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 68px;
}

.logo {
  position: absolute;
  right: 15px;
}

.input {
  position: absolute;
  right: 150px;
  width: 600px;
  height: 44px;
  font-size: 1.2rem;
  border-radius: 8px;
  background-color: #f1f2f4;
}

.head-left {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 44px;
  margin-left: 12px;
  left: 12px;
}
